<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
          aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="navbar-brand mb-0">Event Management</h1>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/assistant/event/registration" routerLinkActive="active">Register Event</a>
      <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
    </div>
  </div>
</nav>
<div class="container mt-2">
  <router-outlet></router-outlet>
</div>
