<nav class="navbar navbar-toggleable-xl navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav navbar-nav mr-auto mt-2 mt-md-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
    </li>
  </ul>

  <ul class="nav navbar-nav my-2 my-lg-0">
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
