<div class="row">
  <div class="col-sm-12">
    <div class="form-group row">
      <label for="title-input" class="col-2 col-form-label">Title</label>
      <div class="col-10">
        <input class="form-control" type="text" id="title-input" [(ngModel)]="event.title">
      </div>
    </div>
    <div class="form-group row">
      <label for="description-textarea" class="col-2 col-form-label">Description</label>
      <div class="col-10">
        <textarea class="form-control" rows="3" id="description-textarea" [(ngModel)]="event.description"></textarea>
      </div>
    </div>

    <button type="button" class="btn btn-success btn-block" (click)="save()">Save</button>


  </div>
  <div class="col-sm-12">
    <div class="card card-outline-warning mt-5">
      <div class="card-header">
        <h3>Entwicklerinformationen: Event</h3>
      </div>
      <div class="card-block">
        <pre>{{event | json }}</pre>
      </div>
    </div>
  </div>
</div>
