<div class="card card-outline-success">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/user" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/role" routerLinkActive="active">Roles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/purpose" routerLinkActive="active">Purpose</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/registration" routerLinkActive="active">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/event" routerLinkActive="active">Events</a>
      </li>
    </ul>
  </div>
  <div class="card-block">
    <router-outlet></router-outlet>
  </div>
</div>
