<table class="table table-striped table-hover" [ngBusy]="busy">
  <thead class="thead-default">
    <tr>
      <th>User</th>
      <th>Event</th>
      <th>Purpose</th>
    </tr>
  </thead>
  <tbody *ngFor="let registration of registrations">
    <tr (click)="goToRegistration(registration._id)">
      <td>{{registration.user.firstname}} {{registration.user.lastname}}</td>
      <td>{{registration.event.title}}</td>
      <td>{{registration.purpose.name}}</td>
    </tr>
  </tbody>
</table>

<div class="card card-outline-warning mt-5">
  <div class="card-header">
    <h3>Entwicklerinformationen: Registrations</h3>
  </div>
  <div class="card-block">
    <pre>{{registrations | json }}</pre>
  </div>
</div>
